*, *::before, *::after {box-sizing: border-box;}
html, body {overflow-x: hidden;}
:root {
	--shadow: 1px 1px 4px 1px #dfdfdf;
	--radius: 12px;
	--content-max-width: 534px;
}
body {position: relative; width: 100%; max-width: var(--content-max-width); margin: 0 auto; background-color: #f8f8f8;font-family: 'MemomentKkukkukk', sans-serif;font-size: 14px;color: #333;line-height: 1.3;}
ul, ol, li {list-style: none;padding: 0;margin: 0;}
dl, dt, dd {margin: 0;}
button, a {all: unset}
button, a[href] {cursor: pointer;}
button:focus-visible, a[href]:focus-visible {outline: 2px solid #f2a59b; outline-offset: 2px;}
img {width: 100%;}
.common-inner {
	width: 92%;
	margin: 60px auto;
}
@font-face {
	font-family: 'MemomentKkukkukk';
	src: url('./fonts/MemomentKkukkukk.otf') format('opentype'), url('./fonts/MemomentKkukkukk.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}