*, *::before, *::after {box-sizing: border-box;}
html, body {overflow-x: hidden;}
:root {
	--shadow: 1px 1px 4px 1px #dfdfdf;
	--radius: 12px;
	--content-max-width: 534px;
}
body {position: relative; width: 100%; max-width: var(--content-max-width); margin: 0 auto; background-color: #f8f8f8;font-family: 'MemomentKkukkukk', sans-serif;font-size: 14px;color: #333;line-height: 1.3;}
ul, ol, li {list-style: none;padding: 0;margin: 0;}
button, a {all: unset}
img {width: 100%;}
.common-inner {
	width: 90%;
	margin: 30px auto 60px;
}
@font-face {
	font-family: 'MemomentKkukkukk';
	src: url('./fonts/MemomentKkukkukk.otf') format('opentype'), url('./fonts/MemomentKkukkukk.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}