
body {max-width: 534px;width: 90%;margin: 60px auto;background-color: #f8f8f8;font-family: 'MemomentKkukkukk', sans-serif;font-size: 14px;}
ul {list-style: none;padding: 0;margin: 0;}
button, a {all: unset}
:root {
	--shadow: 1px 1px 4px 1px #dfdfdf;
	--radius: 12px;
}
@font-face {
	font-family: 'MemomentKkukkukk';
	src: url('./fonts/MemomentKkukkukk.otf') format('opentype'), url('./fonts/MemomentKkukkukk.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}