	<p class="tabpanel-date">
		<span><span aria-hidden="true">📍</span> 오사카</span>
		<span class="date">2026년 08월 14일 금요일</span>
	</p>

	<ol role="list" class="tabpanel-reference">
		<li class="tabpanel-reference-list"><span aria-hidden="true">📢</span> 패스권 알아보기</li>
		<li class="tabpanel-reference-list"><span aria-hidden="true">📢</span> eSim 알아보기</li>
		<li class="tabpanel-reference-list"><span aria-hidden="true">📢</span> 교통카드 알아보기 : 이코카카드(애플페이)</li>
		<li class="tabpanel-reference-list"><span aria-hidden="true">📢</span> 여행자보험 : <a href="../2026_osaka/files/삼성생명_청약서.pdf" target="_blank">삼성생명 다이렉트</a>(<span class="cost" data-key="여행자 보험료">8360</span>원)</li>
	</ol>

	<ol role="list" class="table">
		<li class="table-row car">
			<time class="table-time" datetime="05:30">05:30</time>
			<div class="table-value">
				<div class="table-value__inner">공항 출발</div>
			</div>
		</li>
		<li class="table-row air-plane">
			<time class="table-time" datetime="07:00">07:00</time>
			<div class="table-value">
				<div class="table-value__inner">공항 도착</div>
				<a href="https://maps.app.goo.gl/xKY5QUECyvpN8nrG6" target="_blank"
					class="table-value__location">주차장</a>
				<a href="https://www.airport.kr/geomap/ap_ko/view.do?type=1&alertType=undefined&poiId=2142#/search"
					target="_blank" class="table-value__location">라운지 위치</a>
			</div>
			<div class="table-link">
				운서역 공영주차장<br>(경차 50%할인)<br>
				주차비 : <span class="cost-two" data-key="공항 주차비">18000</span>원
			</div>
		</li>
		<li class="table-row air-plane">
			<time class="table-time" datetime="11:10">11:10</time>
			<div class="table-value">
				<div class="table-value__inner">출국(HKT9RL)</div>
				<a href="https://maps.app.goo.gl/AaiqViTWChRciFTJA" target="_blank"
					class="table-value__location">인천국제공항 제1 터미널</a>
			</div>
			<div class="table-link">
				<a href="https://mobile.whypaymore.co.kr/m/account/login/pnr?SEtUOVJMXg%3d%3d"
					target="_blank" aria-label="항공권 예약 확인"><span aria-hidden="true">✅</span></a> 파라타 항공(WE511)<br>
				왕복 : <span class="cost" data-key="왕복비행기">328400</span>(1인당)
			</div>
		</li>
		<li class="table-row train">
			<time class="table-time" datetime="12:55">12:55</time>
			<div class="table-value">
				<div class="table-value__inner">간사이 공항도착</div>
			</div>
			<div class="table-link"><a href="" target="_blank" aria-label="지하철 이동 경로 확인"><span aria-hidden="true">✅</span></a> 지하철 이동?</div>
		</li>
		<li class="table-row home">
			<time class="table-time" datetime="14:30">14:30</time>
			<div class="table-value">
				<div class="table-value__inner">숙소</div>
				<a href="https://maps.app.goo.gl/uqidwpQBy9aUJhYX7" target="_blank"
					class="table-value__location">리가 플에이스 히고바시</a>
			</div>
			<div class="table-link">
				<a href="../2026_osaka/files/osaka_agoda.pdf" target="_blank"><span aria-hidden="true">✅</span> 예약 확정서</a>,
				짐 맡겨놓기<br>
				2박3일 숙소비 : <span class="cost-two" data-key="오사카 숙소">154818</span>원
			</div>
		</li>
		<li class="table-row restaurant">
			<time class="table-time" datetime="15:00">15:00</time>
			<div class="table-value">
				<div class="table-value__inner">늦은 점심</div>
				<a href="https://maps.app.goo.gl/C6jmDCx8hKaZdM7L8" target="_blank" class="table-value__location">중화소바 키리멘</a>
			</div>
			<div class="table-link">
				계란 라멘 / 츠케멘 or 시오라멘
			</div>
		</li>
		<li class="table-row shop">
			<time class="table-time" datetime="16:00">16:00</time>
			<div class="table-value">
				<div class="table-value__inner">문구류/뜨개샵 쇼핑</div>
				<a href="https://maps.app.goo.gl/GRdwcGqyEwhmepts9?g_st=ic" target="_blank"
					class="table-value__location">이토야</a>
				<a href="https://maps.app.goo.gl/rH9mvpHL26tTZ2Nq5?g_st=ic" target="_blank"
					class="table-value__location">loft</a>
				<a href="https://maps.app.goo.gl/VW3SFGmYPpQgsgYa6?g_st=ic" target="_blank"
					class="table-value__location">NAGASAWA</a>
				<a href="https://maps.app.goo.gl/v3oa6gRMe2RN4AMX8" target="_blank"
					class="table-value__location">가챠샵</a>
				<a href="https://maps.app.goo.gl/hsYLBx3bWTSjCxCHA?g_st=ic" target="_blank"
					class="table-value__location">green pepe</a>
				<a href="https://maps.app.goo.gl/LKDpML9NYqZKZSZB7?g_st=ic" target="_blank"
					class="table-value__location">mt.lab. OSAKA</a>
				<a href="https://maps.app.goo.gl/14Me5fYbCeaMkH4R9?g_st=ic" target="_blank"
					class="table-value__location">Seria 우메다 첼시점</a>
			</div>
			<div class="table-link"></div>
		</li>
		<li class="table-row coffee">
			<time class="table-time" datetime="17:00">17:00</time>
			<div class="table-value">
				<div class="table-value__inner">디저트</div>
				<a href="https://maps.app.goo.gl/mSPehsYzZNCLfHyd7" target="_blank"
					class="table-value__location">카페 칸미코보다</a>
			</div>
			<div class="table-link"></div>
		</li>
		<li class="table-row shop">
			<time class="table-time" datetime="18:00">18:00</time>
			<div class="table-value">
				<div class="table-value__inner">캐릭터 샵</div>
				<a href="https://maps.app.goo.gl/v68MFdiokKv6dsFW7?g_st=ic" target="_blank"
					class="table-value__location">디즈니 스토어</a>
				<a href="https://maps.app.goo.gl/dQvCezDzaFQ7bDUt9?g_st=ic" target="_blank"
					class="table-value__location">산리오</a>
				<a href="https://maps.app.goo.gl/mpbFrkiJcVAizG959?g_st=ic" target="_blank"
					class="table-value__location">키티랜드</a>
			</div>
			<div class="table-link"></div>
		</li>
		<li class="table-row shop">
			<time class="table-time" datetime="20:00">20:00</time>
			<div class="table-value">
				<div class="table-value__inner">이자카야</div>
				<a href="https://maps.app.goo.gl/cpEgx7k3XUDQ1xXv8" target="_blank"
					class="table-value__location">Izakaya Fuwatoro</a>
			</div>
			<div class="table-link">오꼬노미야끼, 야끼소바</div>
		</li>
		<li class="table-row shop">
			<time class="table-time" datetime="21:00">21:00</time>
			<div class="table-value">
				<div class="table-value__inner">야경</div>
				<a href="https://maps.app.goo.gl/giW86MFtXqbaXwJe8" target="_blank"
					class="table-value__location">우메다 스카이 빌딩</a>
				<a href="https://maps.app.goo.gl/odsWqE1xhnro98Cz6" target="_blank"
					class="table-value__location">헵파이브 관람차</a>
			</div>
			<div class="table-link">스카이 빌딩 주유패스구매시 무료입장(15시 전에만)</div>
		</li>
		<li class="table-row shop">
			<time class="table-time" datetime="22:00">22:00</time>
			<div class="table-value">
				<div class="table-value__inner">돈키호테</div>
				<a href="https://maps.app.goo.gl/1dgtvic9fTVbmV5C9?g_st=ic" target="_blank"
					class="table-value__location">돈키호테 우메다 본점</a>
			</div>
			<div class="table-link"></div>
		</li>
	</ol>
