	<div class="tabpanel-date">
		<span>📍오사카</span>
		<span class="date">2026년 08월 15일 토요일</span>
	</div>

	<div class="table">
		<div class="table-row train">
			<div class="table-time">08:00</div>
			<div class="table-value">
				<div class="table-value__inner">아침</div>
				<a href="" target="_blank"
					class="table-value__location"></a>
			</div>
			<div class="table-link">

			</div>
		</div>
		<div class="table-row train">
			<div class="table-time">16:00</div>
			<div class="table-value">
				<div class="table-value__inner">신사이바시</div>
				<a href="https://maps.app.goo.gl/ymbKiLWSUZtaRJyq5?g_st=ic" target="_blank"
					class="table-value__location">신사이바시역</a>
			</div>
			<div class="table-link">

			</div>
		</div>
		<div class="table-row shop">
			<div class="table-time">16:10</div>
			<div class="table-value">
				<div class="table-value__inner">핸즈 신사이바시점</div>
				<a href="https://maps.app.goo.gl/wxr8AbXhd19SXyQj7?g_st=ic"
					class="table-value__location">핸즈 신사이바시역</a>
			</div>
			<div class="table-link">
				10:00 - 18:00
			</div>
		</div>
		<div class="table-row tour">
			<div class="table-time">17:00</div>
			<div class="table-value">
				<div class="table-value__inner">도톤보리</div>
				<a href="https://maps.app.goo.gl/nrmx4hAGRN9e8BLW7" target="_blank"
					class="table-value__location">도톤보리 글리코사인</a>
			</div>
			<div class="table-link">

			</div>
		</div>
		<div class="table-row shop">
			<div class="table-time">18:00</div>
			<div class="table-value">
				<div class="table-value__inner">쇼핑</div>
				<a href="https://maps.app.goo.gl/Zcrfzp3TTEME266p7?g_st=ic" target="_blank"
					class="table-value__location">Pelle Penna</a>
				<a href="https://maps.app.goo.gl/P7n1dxadog2UegCY7?g_st=ic" target="_blank"
					class="table-value__location">난바 loft</a>
				<a href="https://maps.app.goo.gl/krSD2nRCQzt9wWGK6?g_st=ic" target="_blank"
					class="table-value__location">유자와야 난바피크점</a>
				<a href="https://maps.app.goo.gl/3g9d1gFsyBzLfhuh7?g_st=ic" target="_blank"
					class="table-value__location">가영이 뜨개샵</a>
				<a href="https://maps.app.goo.gl/STHGoZB61xhjJ3U78?g_st=ic" target="_blank"
					class="table-value__location">Hobbyra Hobbyre</a>
			</div>
			<div class="table-link">
				Pelle Penna : 만년필(오후9시까지)
			</div>
		</div>
		<div class="table-row restaurant">
			<div class="table-time">20:00</div>
			<div class="table-value">
				<div class="table-value__inner">이자카야(선택)</div>
				<a href="https://maps.app.goo.gl/Yo5NWeky9w93ZQ1P8?g_st=ic" target="_blank"
					class="table-value__location">혼케 오타코 호젠지점</a>
				<a href="https://maps.app.goo.gl/Yo5NWeky9w93ZQ1P8?g_st=ic" target="_blank"
					class="table-value__location">혼케 오타코 호젠지점</a>
			</div>
			<div class="table-link">
				혼케 오타코 호젠지점 : 야끼소바 맛집(예전에 간 집?)<br><br>
				얏코챠야 도톤보리점 : 웨이팅 없는 쿠시카츠 맛집
			</div>
		</div>
		<div class="table-row market">
			<div class="table-time">22:00</div>
			<div class="table-value">
				<div class="table-value__inner">마트/편의점</div>
				<a href="https://maps.app.goo.gl/qgVyNpKdWAHCCwDY8?g_st=akt" target="_blank"
					class="table-value__location">라이프 마트</a>
			</div>
			<div class="table-link">

			</div>
		</div>
	</div>
