	<div class="tabpanel-date">
		<span>📍오사카</span>
		<span class="date">2026년 08월 15일 토요일</span>
	</div>

	<div class="table">
		<div class="table-row restaurant">
			<div class="table-time">08:00</div>
			<div class="table-value">
				<div class="table-value__inner">아침</div>
				<a href="https://maps.app.goo.gl/omMNSj4RWRkFbiyV8" target="_blank"
					class="table-value__location">브루클린 로스팅 컴퍼니 기타하마</a>
			</div>
			<div class="table-link">
				도쿄 원두 추천, 라떼 먹기
			</div>
		</div>
		<div class="table-row coffee">
			<div class="table-time">10:00</div>
			<div class="table-value">
				<div class="table-value__inner">디저트</div>
				<a href="https://maps.app.goo.gl/52YoFYw1ojU4wuAq7" target="_blank"
					class="table-value__location">grenier 기타하마점</a>
			</div>
			<div class="table-link">
				커스터드 10000엔
			</div>
		</div>
		<div class="table-row train">
			<div class="table-time">12:00</div>
			<div class="table-value">
				<div class="table-value__inner">신사이바시</div>
				<a href="https://maps.app.goo.gl/ymbKiLWSUZtaRJyq5?g_st=ic" target="_blank"
					class="table-value__location">신사이바시역</a>
			</div>
			<div class="table-link">

			</div>
		</div>
		<div class="table-row shop">
			<div class="table-time">12:30</div>
			<div class="table-value">
				<div class="table-value__inner">핸즈 신사이바시점</div>
				<a href="https://maps.app.goo.gl/wxr8AbXhd19SXyQj7?g_st=ic"
					class="table-value__location">핸즈 신사이바시역</a>
				<a href="https://maps.app.goo.gl/pgWQVqT4v2Yh4kAUA"
					class="table-value__location">ラドログリー</a>
			</div>
			<div class="table-link">
			</div>
		</div>
		<div class="table-row tour">
			<div class="table-time">13:00</div>
			<div class="table-value">
				<div class="table-value__inner">도톤보리</div>
				<a href="https://maps.app.goo.gl/nrmx4hAGRN9e8BLW7" target="_blank"
					class="table-value__location">도톤보리 글리코사인</a>
			</div>
			<div class="table-link">

			</div>
		</div>
		<div class="table-row restaurant">
			<div class="table-time">13:30</div>
			<div class="table-value">
				<div class="table-value__inner">점심</div>
				<a href="https://maps.app.goo.gl/c5C4Dv2EqxaqejjBA" target="_blank"
					class="table-value__location">Ontake Kasu Udon</a>
			</div>
			<div class="table-link">
				우동집
			</div>
		</div>
		<div class="table-row coffee">
			<div class="table-time">14:00</div>
			<div class="table-value">
				<div class="table-value__inner">치즈케이크(선택)</div>
				<a href="https://maps.app.goo.gl/YzE6wW73WD3iK8FP8" target="_blank"
					class="table-value__location">파블로(PABLO)</a>
			</div>
			<div class="table-link">
				배 공간 남으면 미니로 하나 사먹어도 괜찮을듯
			</div>
		</div>
		<div class="table-row coffee">
			<div class="table-time">14:00</div>
			<div class="table-value">
				<div class="table-value__inner">카페</div>
				<a href="https://maps.app.goo.gl/dFbWqbqAnQgg8kBHA" target="_blank"
					class="table-value__location">Amato Maeda Namba-Walk</a>
			</div>
			<div class="table-link">

			</div>
		</div>
		<div class="table-row shop">
			<div class="table-time">16:00</div>
			<div class="table-value">
				<div class="table-value__inner">쇼핑</div>
				<a href="https://maps.app.goo.gl/Zcrfzp3TTEME266p7?g_st=ic" target="_blank"
					class="table-value__location">Pelle Penna</a>
				<a href="https://maps.app.goo.gl/P7n1dxadog2UegCY7?g_st=ic" target="_blank"
					class="table-value__location">난바 loft</a>
				<a href="https://maps.app.goo.gl/krSD2nRCQzt9wWGK6?g_st=ic" target="_blank"
					class="table-value__location">유자와야 난바피크점</a>
				<a href="https://maps.app.goo.gl/3g9d1gFsyBzLfhuh7?g_st=ic" target="_blank"
					class="table-value__location">가영이 뜨개샵</a>
				<a href="https://maps.app.goo.gl/STHGoZB61xhjJ3U78?g_st=ic" target="_blank"
					class="table-value__location">Hobbyra Hobbyre</a>
			</div>
			<div class="table-link">
				Pelle Penna : 만년필(오후9시까지)
			</div>
		</div>
		<div class="table-row restaurant">
			<div class="table-time">19:00</div>
			<div class="table-value">
				<div class="table-value__inner">이자카야</div>
				<a href="https://maps.app.goo.gl/dUZfyArPyJW6meY7A" target="_blank"
					class="table-value__location">나루토야</a>
				<a href="https://maps.app.goo.gl/ota7ZtvJjrk63pki6" target="_blank"
					class="table-value__location">얏코차야</a>
			</div>
			<div class="table-link">
				나루토야 : 야키토리 맛집<br><br>
				얏코챠야 도톤보리점 : 웨이팅 없는 쿠시카츠 맛집
			</div>
		</div>
		<div class="table-row market">
			<div class="table-time">22:00</div>
			<div class="table-value">
				<div class="table-value__inner">마트/편의점</div>
				<a href="https://maps.app.goo.gl/qgVyNpKdWAHCCwDY8?g_st=akt" target="_blank"
					class="table-value__location">라이프 마트</a>
			</div>
			<div class="table-link">

			</div>
		</div>
	</div>
