	<div class="tabpanel-date">
		<span>📍교토</span>
		<span class="date">2026년 08월 16일 일요일</span>
	</div>

	<div class="table">
		<div class="table-row">
			<div class="table-time">11:00</div>
			<div class="table-value">
				<div class="table-value__inner">리가 플레이스 히고바시</div>
				<a href="https://maps.app.goo.gl/A1eaFG5316qYqZzH6" target="_blank"
					class="table-value__location">리가 플레이스 히고바시</a>
			</div>
			<div class="table-link"></div>
		</div>
		<div class="table-row home">
			<div class="table-time">12:10</div>
			<div class="table-value">
				<div class="table-value__inner">교토 우메코지 카덴쇼</div>
				<a href="https://maps.app.goo.gl/QoGN3tjs64pYsXKJ7" target="_blank"
					class="table-value__location">교토 우메코지 카덴쇼</a>
			</div>
			<div class="table-link">
				<a href="https://www.agoda.com/ko-kr/account/bookings.html?products=hotels&ds=FQtVyB6qI2PdTx4e"
					target="_blank">✅ </a><span class="cost" data-key="료칸">231243</span>원
			</div>
		</div>
		<div class="table-row tour">
			<div class="table-time">12:10</div>
			<div class="table-value">
				<div class="table-value__inner"></div>
				<a href="https://maps.app.goo.gl/GWJi8wHd22MKiyH46" target="_blank"
					class="table-value__location">아라시야마 치쿠린</a>
				<a href="https://maps.app.goo.gl/cGLwpiAVbGVM7BZJ8" target="_blank"
					class="table-value__location">텐류지</a>
			</div>
			<div class="table-link">
				텐류지 입장권 : 정원(500엔)/내부포함(800엔) - 현금만 가능
			</div>
		</div>
		<div class="table-row train">
			<div class="table-time">12:10</div>
			<div class="table-value">
				<div class="table-value__inner"></div>
				<a href="https://maps.app.goo.gl/GWJi8wHd22MKiyH46" target="_blank"
					class="table-value__location">토롯코 열차</a>
			</div>
			<div class="table-link">
				<a href="../2026_osaka/files/토롯코기차_바우처.pdf"
					target="_blank">✅ </a><span class="cost-two" data-key="토롯코 기차(편도)">15795</span>원
			</div>
		</div>
	</div>
