	<div class="tabpanel-date">
		<span>📍교토</span>
		<span class="date">2026년 08월 16일 일요일</span>
	</div>

	<div class="table">
		<div class="table-row">
			<div class="table-time">11:10</div>
			<div class="table-value">
				<div class="table-value__inner">교토 우메코지 카덴쇼</div>
				<a href="https://maps.app.goo.gl/QoGN3tjs64pYsXKJ7" target="_blank"
					class="table-value__location">교토 우메코지 카덴쇼</a>
			</div>
			<div class="table-link"><a
					href="https://www.agoda.com/ko-kr/account/bookings.html?products=hotels&ds=FQtVyB6qI2PdTx4e"
					target="_blank">✅ </a><span class="cost" data-key="료칸">231243</span>원</div>
		</div>
	</div>
