	<p class="tabpanel-date">
		<span><span aria-hidden="true">📍</span> 교토</span>
		<span class="date">2026년 08월 16일 일요일</span>
	</p>

	<ol role="list" class="table">
		<li class="table-row home">
			<time class="table-time" datetime="08:00">08:00</time>
			<div class="table-value">
				<div class="table-value__inner">오사카 숙소 체크아웃</div>
				<a href="https://maps.app.goo.gl/A1eaFG5316qYqZzH6" target="_blank"
					class="table-value__location">리가 플레이스 히고바시</a>
			</div>
			<div class="table-link"></div>
		</li>
		<li class="table-row home">
			<time class="table-time" datetime="10:00">10:00</time>
			<div class="table-value">
				<div class="table-value__inner">교토 우메코지 카덴쇼</div>
				<a href="https://maps.app.goo.gl/QoGN3tjs64pYsXKJ7" target="_blank"
					class="table-value__location">교토 우메코지 카덴쇼</a>
			</div>
			<div class="table-link">
				<a href="https://www.agoda.com/ko-kr/account/bookings.html?products=hotels&ds=FQtVyB6qI2PdTx4e"
					target="_blank" aria-label="료칸 예약 확인"><span aria-hidden="true">✅</span></a> 료칸(조식포함)<span class="cost" data-key="료칸">231243</span>원<br>
				저녁으로 라멘(야식)먹기
			</div>
		</li>
		<li class="table-row tour">
			<time class="table-time" datetime="10:30">10:30</time>
			<div class="table-value">
				<div class="table-value__inner">관광지</div>
				<a href="https://maps.app.goo.gl/GWJi8wHd22MKiyH46" target="_blank"
					class="table-value__location">아라시야마 치쿠린</a>
				<a href="https://maps.app.goo.gl/cGLwpiAVbGVM7BZJ8" target="_blank"
					class="table-value__location">텐류지</a>
			</div>
			<div class="table-link">
				아라시야마 치쿠린 : 대나무숲<br>
				텐류지 입장권 : 정원(500엔)/내부포함(800엔) - 현금가능
			</div>
		</li>
		<li class="table-row train">
			<time class="table-time" datetime="12:02">12:02</time>
			<div class="table-value">
				<div class="table-value__inner">토롯코 열차 출발</div>
				<a href="https://maps.app.goo.gl/3pbWRzVM9kqMKXo3A" target="_blank"
					class="table-value__location">토롯코사가역</a>
			</div>
			<div class="table-link">
				<a href="../2026_osaka/files/토롯코기차_바우처.pdf" class="file-button"
					target="_blank" aria-label="토롯코 기차 바우처 확인"><span aria-hidden="true">✅</span></a> 토롯코 기차(편도) : <span class="cost-two" data-key="토롯코 기차(편도)">15800</span>원
			</div>
		</li>
		<li class="table-row train">
			<time class="table-time" datetime="12:25">12:25</time>
			<div class="table-value">
				<div class="table-value__inner">토롯코 열차 도착</div>
				<a href="https://maps.app.goo.gl/qqSijHgGkMeYCe9j9" target="_blank"
					class="table-value__location">토롯코 가오메카</a>
			</div>
			<div class="table-link">

			</div>
		</li>
		<li class="table-row restaurant">
			<time class="table-time" datetime="12:40">12:40</time>
			<div class="table-value">
				<div class="table-value__inner">점심</div>
				<a href="https://maps.app.goo.gl/nRGayjS56tEVnXmJ9" target="_blank"
					class="table-value__location">鮨処さくら</a>
			</div>
			<div class="table-link">
				런치 스시 오마카세(1시 반까지), 카드결제 가능
			</div>
		</li>
		<li class="table-row train">
			<time class="table-time" datetime="13:30">13:30</time>
			<div class="table-value">
				<div class="table-value__inner">JR마호리역</div>
				<a href="https://maps.app.goo.gl/ESkv2vonQWkNKCWLA" target="_blank"
					class="table-value__location">JR마호리역</a>
			</div>
			<div class="table-link">

			</div>
		</li>
		<li class="table-row train">
			<time class="table-time" datetime="14:00">14:00</time>
			<div class="table-value">
				<div class="table-value__inner">JR사가아라시야마</div>
				<a href="https://maps.app.goo.gl/K1SsqK8u5WSBGvFK6" target="_blank"
					class="table-value__location">JR사가아라시야마</a>
			</div>
			<div class="table-link">

			</div>
		</li>
		<li class="table-row coffee">
			<time class="table-time" datetime="14:20">14:20</time>
			<div class="table-value">
				<div class="table-value__inner">카페</div>
				<a href="https://maps.app.goo.gl/kEKnv6wzB7MPSX15A" target="_blank"
					class="table-value__location">빵과 에스프레소와 아라시야마 정원 "에스프레소와"</a>
			</div>
			<div class="table-link">
				말차 프랜치 토스트, 과일샌드위치
			</div>
		</li>
		<li class="table-row home">
			<time class="table-time" datetime="16:30">16:30</time>
			<div class="table-value">
				<div class="table-value__inner">체크인</div>
				<a href="https://maps.app.goo.gl/QoGN3tjs64pYsXKJ7" target="_blank"
					class="table-value__location">교토 우메코지 카덴쇼</a>
			</div>
			<div class="table-link">
			</div>
		</li>
		<li class="table-row restaurant">
			<time class="table-time" datetime="19:00">19:00</time>
			<div class="table-value">
				<div class="table-value__inner">저녁(선택)</div>
				<a href="https://maps.app.goo.gl/nGB5gU3RRidqTff5A" target="_blank"
					class="table-value__location">Marufuku</a>
			</div>
			<div class="table-link">
				소바
			</div>
		</li>
		<li class="table-row tour">
			<time class="table-time" datetime="20:00">20:00</time>
			<div class="table-value">
				<div class="table-value__inner">마트</div>
				<a href="https://maps.app.goo.gl/1X22GQmJkifngyGx6" target="_blank"
					class="table-value__location">로피아 교토 요도바시점</a>
			</div>
			<div class="table-link">
				저녁 9시 까지 영업
			</div>
		</li>
		<li class="table-row tour">
			<time class="table-time" datetime="20:30">20:30</time>
			<div class="table-value">
				<div class="table-value__inner">교토 타워(야경)</div>
				<a href="https://maps.app.goo.gl/ieyH27Beqm8XAc4e7" target="_blank"
					class="table-value__location">교토 타워</a>
			</div>
			<div class="table-link">
				입장권 구매해야함, 9시까지 영업
			</div>
		</li>
	</ol>
