	<p class="tabpanel-date">
		<span><span aria-hidden="true">📍</span> 교토</span>
		<span class="date">2026년 08월 17일 월요일</span>
	</p>

	<ol role="list" class="table">
		<li class="table-row restaurant">
			<time class="table-time" datetime="09:00">09:00</time>
			<div class="table-value">
				<div class="table-value__inner">조식</div>
			</div>
			<div class="table-link"></div>
		</li>
		<li class="table-row shop">
			<time class="table-time" datatime="09:00">:00</time>
			<div class="table-value">
				<div class="table-value__inner">기념품샵</div>
				<a class="table-value__location" href="https://maps.app.goo.gl/6dNqTGGbBCd2bQwY6" target="_blank">Kyokonomi</a>
			</div>
			<div class="table-link"></div>
		</li>
		<li class="table-row shop">
			<time class="table-time" datatime="09:00">:00</time>
			<div class="table-value">
				<div class="table-value__inner">소품샵</div>
				<a class="table-value__location" href="https://maps.app.goo.gl/L23pfXfNX3pNBr3z6" target="_blank">이노분</a>
			</div>
			<div class="table-link"></div>
		</li>
		<li class="table-row market">
			<time class="table-time" datatime="09:00">:00</time>
			<div class="table-value">
				<div class="table-value__inner">니시키 시장</div>
				<a class="table-value__location" href="https://maps.app.goo.gl/v1JSTKecJ1uA7Vrr8" target="_blank">니시키 시장</a>
			</div>
			<div class="table-link"></div>
		</li>
		<li class="table-row tour">
			<time class="table-time" datatime="09:00">:00</time>
			<div class="table-value">
				<div class="table-value__inner">야사카 신사</div>
				<a class="table-value__location" href="https://maps.app.goo.gl/47foc5jhwhPBsdWN8" target="_blank">야사카 신사</a>
			</div>
			<div class="table-link"></div>
		</li>
		<li class="table-row shop">
			<time class="table-time" datatime="09:00">:00</time>
			<div class="table-value">
				<div class="table-value__inner">소품샵</div>
				<a class="table-value__location" href="https://maps.app.goo.gl/yZNBUVtyUiME7SXKA" target="_blank">Kyukyodo</a>
				<a class="table-value__location" href="https://maps.app.goo.gl/8F76wb3kh3PeZCMg6" target="_blank">앙제 가와라마치</a>
				<a class="table-value__location" href="https://maps.app.goo.gl/fe5wV32va214GoFFA" target="_blank">HIRAETH(선택)</a>
			</div>
			<div class="table-link"></div>
		</li>
	</ol>
