	<p class="tabpanel-date">
		<span><span aria-hidden="true">📍</span> 교토</span>
		<span class="date">2026년 08월 18일 화요일</span>
	</p>

	<ol role="list" class="table">
		<li class="table-row restaurant">
			<time class="table-time" datetime="08:00">08:00</time>
			<div class="table-value">
				<div class="table-value__inner">조식</div>
			</div>
			<div class="table-link"></div>
		</li>
		<li class="table-row train">
			<time class="table-time" datetime="09:00">09:00</time>
			<div class="table-value">
				<div class="table-value__inner">교토역 이동</div>
				<a href="https://maps.app.goo.gl/vxX2FzTtqUN89Fo27" target="_blank"
					class="table-value__location">교토역</a>
			</div>
			<div class="table-link"></div>
		</li>
		<li class="table-row train">
			<time class="table-time" datetime="10:00">10:00</time>
			<div class="table-value">
				<div class="table-value__inner">공항 출발</div>
			</div>
			<div class="table-link">
				<a href="https://guest-ui.west-qr.com/#/" target="_blank" aria-label="기차 예약링크" class="window-button"></a> 기차QR확인<br>
				기차표 : <span class="cost-two" data-key="기차">36604</span>원<br>
				기차 타는곳 : 30번 플랫폼
			</div>
		</li>
		<li class="table-row air-plane">
			<time class="table-time" datetime="11:30">11:30</time>
			<div class="table-value">
				<div class="table-value__inner">공항 도착</div>
			</div>
		</li>
		<li class="table-row air-plane">
			<time class="table-time" datetime="14:35">14:35</time>
			<div class="table-value">
				<div class="table-value__inner">출국(HKT9RL)</div>
				<a href="https://maps.app.goo.gl/mvoVGxpUzCpm4Bgd9" target="_blank"
					class="table-value__location">간사이공항 1터미널</a>
			</div>
			<div class="table-link"><a
					href="https://mobile.whypaymore.co.kr/m/account/login/pnr?SEtUOVJMXg%3d%3d"
					target="_blank" aria-label="항공권 예약 확인" class="window-button"></a> 파라타 항공(WE512)</div>
		</li>
	</ol>
