	<p class="tabpanel-date">
		<span><span aria-hidden="true">📍</span> 교토</span>
		<span class="date">2026년 08월 18일 화요일</span>
	</p>

	<ol role="list" class="table">
		<li class="table-row restaurant">
			<time class="table-time" datetime="09:00">08:30</time>
			<div class="table-value">
				<div class="table-value__inner">조식</div>
			</div>
			<div class="table-link"></div>
		</li>
		<li class="table-row train">
			<time class="table-time" datetime="10:30">09:30</time>
			<div class="table-value">
				<div class="table-value__inner">공항 출발</div>
			</div>
			<div class="table-link"></div>
		</li>
		<li class="table-row air-plane">
			<time class="table-time" datetime="11:30">11:30</time>
			<div class="table-value">
				<div class="table-value__inner">공항 도착</div>
			</div>
		</li>
		<li class="table-row air-plane">
			<time class="table-time" datetime="14:35">14:35</time>
			<div class="table-value">
				<div class="table-value__inner">출국(HKT9RL)</div>
				<a href="https://maps.app.goo.gl/mvoVGxpUzCpm4Bgd9" target="_blank"
					class="table-value__location">간사이공항 1터미널</a>
			</div>
			<div class="table-link"><a
					href="https://mobile.whypaymore.co.kr/m/account/login/pnr?SEtUOVJMXg%3d%3d"
					target="_blank" aria-label="항공권 예약 확인"><span aria-hidden="true">✅</span></a> 파라타 항공(WE512)</div>
		</li>
	</ol>
