	<div class="tabpanel-date">
		<span>📍교토</span>
		<span class="date">2026년 08월 18일 화요일</span>
	</div>

	<div class="tabpanel-reference">
	</div>

	<div class="table">
		<div class="table-row">
			<div class="table-time">10:30</div>
			<div class="table-value">
				<div class="table-value__inner">공항 출발</div>
			</div>
			<div class="table-link">값 B</div>
		</div>
		<div class="table-row">
			<div class="table-time">11:30</div>
			<div class="table-value">
				<div class="table-value__inner">공항 도착</div>
			</div>
		</div>
		<div class="table-row">
			<div class="table-time">14:35</div>
			<div class="table-value">
				<div class="table-value__inner">출국(HKT9RL)</div>
				<a href="https://maps.app.goo.gl/mvoVGxpUzCpm4Bgd9" target="_blank"
					class="table-value__location">간사이공항 1터미널</a>
			</div>
			<div class="table-link"><a
					href="https://mobile.whypaymore.co.kr/m/account/login/pnr?SEtUOVJMXg%3d%3d"
					target="_blank">✅ </a> 파라타 항공(WE512)</div>
		</div>
	</div>
